<!doctype html>
<html>

    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="css/bootstrap.min.css"/>
        <link rel="stylesheet" href="css/font-awesome.min.css"/>
        <link rel="stylesheet" href="css/app.css"/>
        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/app/app.js"></script>
        <script type="text/javascript" src="js/app/Services/CVDataService.js"></script>
        <script type="text/javascript" src="js/app/Controllers/CVCtrl.js"></script>
        <script type="text/javascript" src="js/app/Directives/skillBar.js"></script>
    </head>

    <body ng-app="CVApp" ng-controller="CVCtrl">
        <div id="page">
        <div class="leftNav">
            <div>
            <div id="leftNavHeader">
                <img ng-src="images/profile.jpg" alt="Profile Image"/>
                <div id="headerName"><h2 style="font-weight: bolder;">{{data.Profile.name}}</h2></div>   
            </div>
            
             <div class="container">
                    <p><span class="glyphicon glyphicon-briefcase icon" aria-hidden="true"></span>{{data.Profile.profession}}</p>
                    <p><span class="glyphicon glyphicon-home icon" aria-hidden="true"></span>{{data.Profile.location}}</p>
                    <p><span class="glyphicon glyphicon-envelope icon" aria-hidden="true"></span><a href="mailto:{{data.Profile.email}}">{{data.Profile.email}}</a></p>
                    <p><span class="glyphicon glyphicon-earphone icon" aria-hidden="true"></span><a href="tel:{{data.Profile.phone}}">{{data.Profile.phone}}</a></p>
                    <hr/>
                 
                    <p><span class="glyphicon glyphicon-asterisk icon"></span><span style="font-size:20px;">Skills</span></p>
                    <div class="SkillsList">           
                           <div ng-repeat="skill in data.Skills"  skill-level level={{skill.level}} name="{{skill.name}}"></div>      
                    </div>
                </div>
            
          </div>  
        </div>
        <div class="content">
            <div >
                
                <div id="workHeader">
                <span class="glyphicon glyphicon-console icon"></span><span id="work-header-text">Work Experience</span>
                </div>
                
                <div id="experiences" >
                    <div ng-repeat="workexperience in data.Workexperiences">
                    <p class="companyTitle">{{workexperience.designation}} / {{workexperience.workplace}}</p>
                    <p><span class="glyphicon glyphicon-map-marker" ></span>{{workexperience.location}}</p>
                        <p class="duration"><span class="glyphicon glyphicon-calendar" ></span><span>{{workexperience.from}} - </span><span ng-class="{currentwork: workexperience.to === 'Current'}">{{workexperience.to}}</span></p>
                       <p class="description" >{{workexperience.description}}</p> 
                    </div>
                </div>
                
            </div>
        </div>
        
        <div class="content">
            <div >
             <div id="studyHeader">
                <span class="glyphicon glyphicon-education icon"></span><span id="education-header-text">Education</span>
                </div>
                
              <div id="studies">
                    <div ng-repeat="study in data.studies">
                        <p class="companyTitle">{{study.place}}</p>
                        <p><span class="glyphicon glyphicon-map-marker" ></span>{{study.location}}</p>
                        <p class="duration"><span class="glyphicon glyphicon-calendar" ></span><span>{{study.from}} - {{study.to}}</span></p>
                       <p class="description">{{study.description}}</p> 
                        <hr>
                    </div>                  
                </div>    
            </div>
        </div>
      </div>
        
        <footer>
            <p>Find me on social media.</p>
          <a ng-repeat="link in data.SocialLinks" href="{{link.href}}" target="_blank">
          <i class="{{link.class}}" title="{{link.title}}"></i>
          </a>  
     

        </footer>
     
    </body>
    
</html>